/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

/*-----------------------------------------------------------------------------

  ATTENTION! This is the parent-theme's file. Your work will be lost by the 
  next update!

  Wouldn't you prefer to use one of our child themes and be update-safe?

  bootscore-child: 
  https://github.com/bootscore/bootscore-child/archive/refs/heads/main.zip

  bootcommerce-child:
  https://github.com/bootscore/bootcommerce-child/archive/refs/heads/main.zip

-----------------------------------------------------------------------------*/
:root {
  --primary-color: #51be78;
}

body {
  min-height: 150vh;
}

.nav-link {
  padding: 20px;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: var(--primary-color);
}

.navbar-nav .nav-link.active {
  color: var(--primary-color);
}

header .navbar.scrolled {
  background-color: rgba(253, 254, 255, 0.1) !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: 0.5s;
}
.navbar:hover::before {
  left: 100%;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.dropdown-toggle.dropdown-plus::after {
  content: "";
  border-width: 0 0.1em 0.1em 0;
  border-style: solid;
  display: inline-block;
  transform: rotate(45deg);
  width: 0.5em; /* Adjust width as needed */
  height: 0.5em; /* Adjust height as needed */
  border-color: currentColor; /* Use the current text color for the chevron */
}

/* Brand */
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
/* Hero Carousel */
#template-mo-zay-hero-carousel {
  background: #efefef !important;
}
/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators button {
  margin-top: -50px;
  background-color: #59ab6e;
}
#template-mo-zay-hero-carousel .carousel-control-next,
#template-mo-zay-hero-carousel .carousel-control-prev {
  color: #59ab6e !important;
  font-size: 2.8em !important;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #template-mo-zay-hero-carousel .carousel-item {
    min-height: 30rem !important;
  }
}
